{% extends "base.html.twig" %}

{% block title %}
   
{% endblock %}



{% block body %}
    <h1>dd</h1>
    <div class="container">
		<form action="{{ path('security.login') }}" method="post">
			<fieldset>
				<legend>
					CLASSROOM
				</legend>

				<div class="form-group">
					<label for="username" class="form-label mt-4">Email address</label>
					<input type="email" class="form-control" id="username" name="_username" placeholder="Enter email">
				</div>

				<div class="form-group">
					<label for="password" class="form-label mt-4">Password</label>
					<input type="password" class="form-control" id="password" name="_password" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>

			</form>

		</div>
{% endblock  %}