{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block styleEditProf %}
<link href="{{asset('asset/assets/css/editProfs.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="ContainerDeux">
    <div id="AjoutProfs" >
        <a>Modifier Professeur<a>
    </div>

    <div class="container">
        <div id="infoAjout">
            {{ include('cours/_form.html.twig') }}
            <a  href="{{ path('app_cours_index') }}">
            </a>
        </div>
    </div>

</div>
{% endblock %}
